<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mgel's Sales & Inventory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <style>
        body{
            background: wheat;
        }
    </style>
  </head>
  {% load crispy_forms_tags %}
  <body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-3 mx-auto">
                <h3 class="text-center">Sales & Inventory</h3><br>
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h5>Admin Login</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                           
                                <button type="submit" class="btn btn-primary mt-2 w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>